aiofile
aiohttp[speedups]
appdirs
async_generator
bs4
CairoSVG
cffi
covid
cowpy
eksipy
emoji
geopy
faker
https://github.com/Ncode2014/cloudscraper/archive/refs/heads/master.zip
git+https://github.com/httplib2/httplib2
git+https://github.com/jmoiron/humanize
git+https://github.com/Joeclinton1/google-images-download
git+https://github.com/LonamiWebs/Telethon/
git+https://github.com/Ncode2014/hentai
git+https://github.com/Ncode2014/pySmartDL
git+https://github.com/Ncode2014/search-engine-parser
git+https://github.com/Ncode2014/youtube_search
git+https://github.com/pawamoy/aria2p
git+https://github.com/rthalley/dnspython
git+https://github.com/TomyPrs/deezloader
git+https://github.com/vstinner/hachoir
https://raw.githubusercontent.com/Ncode2014/nekadok/req/heroku-dlp-master.zip
gitpython
glitch_this
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
googletrans==4.0.0rc1
gTTS
gTTS-token
heroku3
html_telegraph_poster
html5lib
jikanpy
js2py
lottie
lk21
lxml
lyricsgenius
natsort
numpy
oauth2client
pendulum
Pillow
Pillow
psycopg2
py7zr
psycopg2-binary
pybase64
pydub
pylast
python-barcode
python-dateutil
python-dotenv
pytz
qrcode
rarfile
requests
scipy
speedtest-cli
sqlalchemy<=1.3.23
telegraph
telethon-session-sqlalchemy
telethon-tgcrypto
urbandict
validators
vcsi
wikipedia
youtube_dl
wordcloud
